@import url(//db.onlinewebfonts.com/c/073a3b73a63a87e100f6bb8f003fc0d3?family=Flexo+Light);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Flexo-Demi",arial,sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    background-color: white;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
}

.search {
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

[type=text] {
    width: 300px;
    height: 50px;
    padding: 10px 20px;
    background-color: #EDEDED;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
    font-weight: 600;
    color: gray;
    outline: none;

    border: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 20px;

    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #EDEDED;
}

.pokemons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 40px;
    max-width: 1110px;
    width: 85%;
}

.pokemons-container > p {
    margin: 0 auto;
}

.pokemon {
    width: 220px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 60px;
}

.pokemon:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
}

figure {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 5px;
    text-align: center;
}

.pokemon-image {
    width: 200px;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    padding: 4px 10px 4px 20px;
}

.number {
    font-size: 12px;
    font-weight: 600;
    color: #919191;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    color: #313131;
    margin-top: 10px;
}

.pokemon-types {
    margin-top: 5px;
}

.type {
    display: inline-block;
    color: #212121;
    width: 80px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 3px 0;
    border-radius: 4px;
    margin-right: 4px;
}

.grass {
    background-color: #9bcc50;
}

.poison {
    background-color: #B97FC9;
    color: white;
}

.bug {
    background-color: #729F3F;
    color: white;
}

.steel {
    background-color: #9EB7B8;
}

.water {
    background-color: #4592C4;
    color: white;

}

.ghost {
    background-color: #7B62A3;
    color: white;

}

.fire {
    background-color: #FD7D24;
    color: white;
}

.flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.normal {
    background-color: #A4ACAF;
}

.rock {
    background-color: #a38c21;
    color: white;
}

.ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: white;
}

.fairy {
    background-color: #fdb9e9;
}

.electric {
    background-color: #EED535;
}

.psychic {
    background-color: #F366B9;
    color: white;
}

.fighting {
    background-color: #D56723;
    color: white;
}

.ice {
    background-color: #51c4e7;
}

audio {
    display: none;
}